<div fxLayout="row" fxLayoutAlign="end" class="search-bar">

  <div fxHide.lt-md fxLayout="row" class="user">

    <button mat-button [matMenuTriggerFor]="menu">
      {{ getNomeCompleto() }}
      <i class="fas fa-chevron-down"></i>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Account</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>

  </div>

  <div fxHide fxShow.lt-md fxLayout="row" class="bar-options" (click)="openSideMenu()">

      <button mat-button><i class="fas fa-bars"></i></button>
  
  </div>
</div>