.option{
    background-color:rgba(27, 153, 138, 0);
    padding:10px 0;
    border-left:5px solid rgba(27, 153, 138, 0);
    color:#9CC4B2;
    text-transform: uppercase;
}
.option:hover{
    cursor: pointer;
}
.option:hover .text h1{
    font-weight: normal;
}
.selecionado:hover{
    cursor:pointer;
    background-color:rgba(27, 153, 138, 0.15);
    border-left:5px solid #9CC4B2;
}
.selecionado{
    background-color:rgba(27, 153, 138, 0.1);
    border-left:5px solid #9CC4B2;
}
.selecionado .text h1{
    font-weight: normal;
}
.icon {
    text-align:right;
}
.icon h1{
    margin:0;
    font-size: 15px;
}
.text {
    text-align: left;
}
.text h1{
    margin:0 10px 0 25px;
    font-size: 15px;
    font-weight: lighter;
}