.page {
    min-height: 100vh;
}
.banner {
    background-image: url("/assets/images/computer.jpg");
    background-color:black;
    background-position: center center;
    background-size: cover;
}
.filter{
    width:100%;
    height:100%;
    background-color: rgba(84, 159, 147, 0.5);
}