<div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center" class="data">

  <db-card-simple-number fxFlex="25%" fxFlex.lt-sm="90%" texto="feedback's" [numero]="quantidade"></db-card-simple-number>

  <db-card-simple-number fxFlex="25%" fxFlex.lt-sm="90%" texto="score" [numero]="score"></db-card-simple-number>

  <db-card-simple-number fxFlex="25%" fxFlex.lt-sm="90%" texto="jogaram" [numero]="jogado"></db-card-simple-number>

  <db-card-simple-number fxFlex="25%" fxFlex.lt-sm="90%" texto="pretendem jogar" [numero]="quer"></db-card-simple-number>

  <db-card-simple-number fxFlex="25%" fxFlex.lt-sm="90%" texto="não pretendem jogar" [numero]="naoQuer"></db-card-simple-number>

  <db-card-simple-number fxFlex="25%" fxFlex.lt-sm="90%" texto="duração média de jogo" subtexto="min" [numero]="tempoJogado"></db-card-simple-number>
</div>